:root {
  --pink-bg: rgb(194, 136, 228);
}

.App {
  text-align: center;
}

/* *********book styles********** */
.book-container {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: auto;
  background: rgb(245, 245, 245);
  margin-top: 20px;
  padding: 30px;
  gap: 20px;
}
.book-img {
  width: 200px;
}

.book-info {
  gap: 20px;
  display: flex;
}

.book-container p {
  text-align: left;
}

/* ******************* header styles ************* */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background: var(--pink-bg);
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}

/* ******footer styles******* */

.footer {
  height: 30px;
  background: var(--pink-bg);
  margin-top: 30px;
}
